/* static/css/base.css */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    background-color: rgb(93, 93, 201);
}

header h1 a {
    color:rgb(0, 247, 255);
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
    padding-left: 10px;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
    padding-right: 10px;
    
}

.nav-right a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.post-entry {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 75%;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-detail a {
    font-size: large;
    color: rgb(88, 88, 88);
    text-decoration: none;    border-radius: 5px;
    background-color: rgb(197, 197, 197);
    padding: .25rem;
    box-shadow: 1px 2px #999;
}

.post-entry p {
    margin: 1rem;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color:red;
}

.post-home h2 a{
    color: black;
    text-decoration: none;
}

.post-home h2{
    color: black;
    text-decoration: none;
}